<html>
<head>

    <style>
        #greetings {
            margin: 20px;
        }

        .center {
            margin: auto;
            text-align: center;
        }

        #body * {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: 18px;
        }

        #container {
            width: 100%;
            margin: auto;
            margin-top: 10px;
            border: 2px solid grey;
        }

        table {
            text-align: left;
            margin: auto;
            width: 70%;
        }

        table td,th,tr {
            height: 40px;
            border-top: 2px solid grey;
            /*border-bottom: 2px solid grey;*/
        }

        #head {
            width: 100%;
            height: 80px;
            background-color: black;
            opacity: 0.8;
        }

        #head a h1 {
            color: white;
            /*font-size: 15px;*/
            /*font-weight: 500;*/
            text-align: center;
            padding-top: 15px;
        }

        #body {
            text-align: center;
        }

        #footer {
            margin-top: 20px;
            width: 100%;
            height: 80px;
            background-color: black;
            opacity: 0.8;
            color: white;
        }
    </style>
</head>

<body>
<div id="container">
    <div id="head">
        <a href="http://localhost:8000/{{ path('homepage') }}">
            <h1>
                Іграшка Toroflux
            </h1>
        </a>
    </div>
    <br>
    <div id="body">

        <div id="greetings" class="center">
            {{ ordering.name }} {{ ordering.surname }},
            {{ 'greetings'|trans|raw }}
        </div>
        <br>

        <table class="table">
            <thead>
            <tr>
                <th colspan="2">{{ 'your.order.details'|trans|raw }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    {{ 'order.id'|trans|raw }}
                </th>
                <td>
                    495{{ ordering.id }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ 'quantity'|trans|raw }}
                </th>
                <td>
                    {{ ordering.quantity }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ 'payment_method'|trans|raw }}
                </th>
                <td>
                    {{ ("payment_method."~ordering.paymentMethod)|trans|raw }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ 'delivery.type'|trans|raw }}
                </th>
                <td>
                    {{ ('delivery.'~ordering.deliveryType)|trans|raw }}
                    <br>
                    {% if ordering.deliveryType == "by_post" %}
                        {{ 'post.office'|trans|raw }}: {{ ordering.city }}, {{ ordering.postOffice }}
                    {% endif %}
                </td>
            </tr>

            {% if ordering.deliveryType == "by_post" %}
                <tr>
                    <th>
                        {{ 'price.description'|trans|raw }}
                    </th>
                    <td>
                        {{ 'price.for.delivery.service'|trans|raw }} : 35 UAH
                        {% if ordering.paymentMethod =="after_delivery" %}
                            <br>
                            {{ 'price.for.payment.after_delivery'|trans }} : 30 UAH
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>
                    {{ 'total.price'|trans|raw }}
                </th>
                <td>
                    <b style="font-size: large"> {{ ordering.price }} UAH </b>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <hr>
        <br>
        <div class="center">
            {% if ordering.deliveryType == "self_checkout" %}
                {{ 'you.can.take.your.order.from'|trans|raw }}
                {{ 'location.description'|trans|raw }}
                <br>
                <br>
                <hr>
                <br>
            {% endif %}
            {% if ordering.paymentMethod=="by_card" %}
                {{ 'your.order.will.be.started.right.after.you.purchase.money.on.card'|trans|raw }}
                <br>
                {{ 'credit_card.number'|trans|raw }}
                <br>
                {{ 'credit_card.description'|trans|raw }}
                <br>
                <br>
                <hr>
                <br>
            {% endif %}

            {{ 'best.regards'|trans|raw }}

        </div>
    </div>
    <div id="footer">
        <div class="center">
            {{ 'contact'|trans|raw }}:
            <br>
            {{ 'phone.number1'|trans|raw }}
            <br>
            {{ 'email1'|trans|raw }}
            <br>
        </div>
    </div>
</div>
</body>
</html>

